Description=uWSGI instance to serve flaskapp
After=network.target

[Service]
User=jboyette
Group=www-data
WorkingDirectory=/apps/app_repo
Environment="PATH=/apps/app_repo/venv/bin"
ExecStart=/apps/app_repo/venv/bin/uwsgi --ini production_test.ini
Restart=always
StandardError=syslog
NotifyAccess=all
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target